<a href="https://colab.research.google.com/github/DandH-C/Projet-science-des-donn-es/blob/main/ProjetFinal_SCI1402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import kagglehub
import json # Added: Import json module

# Chemin d'accès au dataset sur Kaggle
dataset_name = "tmdb/tmdb-movie-metadata"

# Essayer de charger le dataset et gestion des erreurs
try:
    # Télécharger le dataset depuis Kaggle
    data_folder = kagglehub.dataset_download(dataset_name)

    # Vérifier le contenu du dossier de téléchargement
    print(f"Dataset téléchargé sous: {data_folder}")
    print("Fichiers disponibles sous ce dossier:")
    all_files = os.listdir(data_folder)
    print(all_files)

    # Chargement des fichiers .csv
    df_movies = pd.read_csv(os.path.join(data_folder, 'tmdb_5000_movies.csv'))
    df_credits = pd.read_csv(os.path.join(data_folder, 'tmdb_5000_credits.csv'))
    print("Both datasets loaded successfully.")

except Exception as e:
    print(f"Error: {e}")

# Comprendre le jeu de données en examinant les 5 premières rangées de df_movies
print("\nFirst 5 movie records (df_movies):")
if not df_movies.empty:
    print(df_movies.head(5))
else:
    print("df_movies is empty or not loaded due to an error.")

# Comprendre le jeu de données en examinant les 5 premières rangées de df_credits
print("\nFirst 5 credit records (df_credits):")
if not df_credits.empty:
    print(df_credits.head(5))
else:
    print("df_credits is empty or not loaded due to an error.")

# Créer un dictionnaire avec les données json pour la colonne genre (original processing for df_movies)
# Ensure 'genres' column exists and is of string type before applying json.loads
if 'genres' in df_movies.columns and not df_movies.empty:
    # Filter out non-string values before applying json.loads
    df_movies['genre'] = df_movies['genres'].apply(lambda x: json.loads(x) if isinstance(x, str) else x)

    # Flatten genres
    # Ensure 'genre' column contains iterable items (list of dicts) before flattening
    if not df_movies['genre'].apply(lambda x: isinstance(x, list)).all():
        print("Warning: 'genre' column does not contain lists, flattening might fail.")
        genres_list = [] # Initialize empty list to prevent error
    else:
        genres_list = [genre['name'] for sublist in df_movies['genre'] for genre in sublist if isinstance(sublist, list)]

    df_genres = pd.DataFrame(genres_list, columns=['genre'])

    print("\nGenres DataFrame:")
    print(df_genres)

    unique_genres = df_genres['genre'].unique()
    print("\nUnique Genres:")
    print(unique_genres)
else:
    print("\nCannot process genres: 'genres' column not found or df_movies is empty.")


df_merged = pd.merge(df_movies, df_credits, left_on='id', right_on='movie_id', how='inner')
print("First 5 rows of the merged DataFrame:")
print(df_merged.head())

Using Colab cache for faster access to the 'tmdb-movie-metadata' dataset.
Dataset downloaded to: /kaggle/input/tmdb-movie-metadata
Files in the dataset folder:
['tmdb_5000_movies.csv', 'tmdb_5000_credits.csv']
Both datasets loaded successfully.

First 5 movie records (df_movies):
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

First 5 credit records (df_credits):
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

Genres DataFrame:
                 genre
0               Action
1            Adventure
2              Fantasy
3      Science Fiction
4            Adventure
...                ...
12155           Comedy
12156            Drama
12157          Romance
12158         TV Movie
12159      Documentary

[12160 rows x 1 columns]

Unique Genres:
['Action' 'Adventure' 'Fantasy' 'Science Fiction' 'Crime' 'Drama'
 'Thriller' 'Animation' 'Family' 'Western' 'Comedy' 'Romance' 'Horror'
 'Mystery' 'History' 'War' 'Music' 'Documentary' 'Foreign' 'TV Movie']
First 5 rows of the merged DataFrame:
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ...    status  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...  Released
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...  Released
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...  Released
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...  Released
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                    title_x  vote_average vote_count  \
0                                    Avatar           7.2      11800
1  Pirates of the Caribbean: At World's End           6.9       4500
2                                   Spectre           6.3       4466
3                     The Dark Knight Rises           7.6       9106
4                               John Carter           6.1       2124

                                               genre movie_id  \
0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    19995
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...      285
2  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   206647
3  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...    49026
4  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    49529

                                    title_y  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 25 columns]

In [ ]:
# Extraire tous les genres dans une liste
all_genres = [genre for sublist in df_movies['genres'] for genre in sublist]

# Obtenir les genres uniques
unique_genres = set(all_genres)

# Afficher les genres uniques
print("Unique Genres:")
print(unique_genres)
#

Unique Genres:
{'Crime', 'Science Fiction', 'Fantasy', 'Action', 'TV Movie', 'Drama', 'Foreign', 'Family', 'Romance', 'Mystery', 'War', 'Thriller', 'Animation', 'Western', 'Documentary', 'Comedy', 'Adventure', 'History', 'Music', 'Horror'}

In [ ]:
# Lire le fichier CSV
df = first_file_path

# Fonction pour transformer les JSON en listes
def json_to_list(json_str):
    if isinstance(json_str, str):
        try:
            return json.loads(json_str)
        except json.JSONDecodeError:
            return json_str  # Renvoie la chaîne d'origine si erreur de décodage
    return json_str  # Renvoie la valeur d'origine si ce n'est pas une chaîne

# Appliquez la transformation sur chaque colonne si besoin
for col in df.columns:
    df[col] = df[col].apply(json_to_list)

# Sauvegarder le DataFrame modifié dans un nouveau fichier CSV
df.to_csv('fichier_modifie.csv', index=False, header=False)

AttributeError: 'str' object has no attribute 'columns'

In [ ]:
print(df.head())

AttributeError: 'str' object has no attribute 'head'

# Task
Merge `df_movies` and `df_credits` into a single DataFrame `df_merged` based on their common movie ID. Then, process the following columns which contain JSON strings by parsing them into Python lists of dictionaries: 'genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages', 'cast', and 'crew'. After parsing, extract the 'name' attribute from each dictionary within these lists to simplify them into lists of strings. Finally, display the first 5 rows of the `df_merged` DataFrame to show the result of these transformations.

## Merge DataFrames

### Subtask:
Merge the `df_movies` and `df_credits` DataFrames into a single DataFrame using a common identifier, likely 'movie_id' or 'title'.

**Reasoning**:
The subtask requires merging two DataFrames, `df_movies` and `df_credits`. The common identifier specified is 'movie_id', which corresponds to 'id' in `df_movies`. An inner merge will ensure only matching records are kept. After merging, displaying the first few rows will allow for inspection of the new DataFrame.

In [ ]:
df_merged = pd.merge(df_movies, df_credits, left_on='id', right_on='movie_id', how='inner')
print("First 5 rows of the merged DataFrame:")
print(df_merged.head())

First 5 rows of the merged DataFrame:
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ...    status  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...  Released
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...  Released
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...  Released
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...  Released
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                    title_x  vote_average vote_count  \
0                                    Avatar           7.2      11800
1  Pirates of the Caribbean: At World's End           6.9       4500
2                                   Spectre           6.3       4466
3                     The Dark Knight Rises           7.6       9106
4                               John Carter           6.1       2124

                                               genre movie_id  \
0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    19995
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...      285
2  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   206647
3  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...    49026
4  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    49529

                                    title_y  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 25 columns]

**Reasoning**:
The next step is to process the columns that contain JSON strings ('genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages', 'cast', and 'crew') by parsing them into Python lists of dictionaries. This is a prerequisite for extracting the 'name' attribute in the subsequent step.

In [ ]:
import json

# List of columns to parse from JSON string to Python list of dictionaries
json_columns = ['genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages', 'cast', 'crew']

# Apply json.loads to each of the specified columns
for column in json_columns:
    # Ensure the column exists and handle potential NaN values by converting them to empty lists or strings
    df_merged[column] = df_merged[column].apply(lambda x: json.loads(x) if isinstance(x, str) else x)

print("JSON columns parsed successfully.")
print("Displaying the 'genres' column for the first 5 rows to verify parsing:")
print(df_merged['genres'].head())

JSON columns parsed successfully.
Displaying the 'genres' column for the first 5 rows to verify parsing:
0    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
Name: genres, dtype: object

**Reasoning**:
After parsing the JSON strings into lists of dictionaries, the next logical step is to extract the 'name' attribute from each dictionary within these lists for the specified columns, thereby simplifying them into lists of strings. Finally, displaying the first 5 rows of `df_merged` will confirm that all transformations have been applied as required by the task.

In [ ]:
import numpy as np # Import numpy for checking nan values

# Helper function to extract names from a list of dictionaries
def extract_names(json_list):
    if isinstance(json_list, list):
        return [item['name'] for item in json_list if 'name' in item]
    elif pd.isna(json_list) or json_list is None:
        return [] # Handle NaN or None values by returning an empty list
    return json_list # Return as is if not a list or NaN/None

# Apply the helper function to each of the specified columns
for column in json_columns:
    df_merged[column] = df_merged[column].apply(extract_names)

print("Extracted 'name' attribute from JSON columns successfully.")
print("Displaying the first 5 rows of the transformed df_merged DataFrame:")
print(df_merged.head())

Extracted 'name' attribute from JSON columns successfully.
Displaying the first 5 rows of the transformed df_merged DataFrame:
      budget                                         genres  \
0  237000000  [Action, Adventure, Fantasy, Science Fiction]
1  300000000                   [Adventure, Fantasy, Action]
2  245000000                     [Action, Adventure, Crime]
3  250000000               [Action, Crime, Drama, Thriller]
4  260000000           [Action, Adventure, Science Fiction]

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [culture clash, future, space war, space colon...                en
1  [ocean, drug abuse, exotic island, east india ...                en
2  [spy, based on novel, secret agent, sequel, mi...                en
3  [dc comics, crime fighter, terrorist, secret i...                en
4  [based on novel, mars, medallion, space travel...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ...    status  \
0  [Ingenious Film Partners, Twentieth Century Fo...  ...  Released
1  [Walt Disney Pictures, Jerry Bruckheimer Films...  ...  Released
2                   [Columbia Pictures, Danjaq, B24]  ...  Released
3  [Legendary Pictures, Warner Bros., DC Entertai...  ...  Released
4                             [Walt Disney Pictures]  ...  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                    title_x  vote_average vote_count  \
0                                    Avatar           7.2      11800
1  Pirates of the Caribbean: At World's End           6.9       4500
2                                   Spectre           6.3       4466
3                     The Dark Knight Rises           7.6       9106
4                               John Carter           6.1       2124

                                               genre movie_id  \
0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    19995
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...      285
2  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   206647
3  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...    49026
4  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...    49529

                                    title_y  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                cast  \
0  [Sam Worthington, Zoe Saldana, Sigourney Weave...
1  [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2  [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3  [Christian Bale, Michael Caine, Gary Oldman, A...
4  [Taylor Kitsch, Lynn Collins, Samantha Morton,...

                                                crew
0  [Stephen E. Rivkin, Rick Carter, Christopher B...
1  [Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...
2  [Thomas Newman, Sam Mendes, Anna Pinnock, John...
3  [Hans Zimmer, Charles Roven, Christopher Nolan...
4  [Andrew Stanton, Andrew Stanton, John Lasseter...

[5 rows x 25 columns]

In [ ]:
print(df_merged.iloc[0])

budget                                                          237000000
genres                      [Action, Adventure, Fantasy, Science Fiction]
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [culture clash, future, space war, space colon...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    [Ingenious Film Partners, Twentieth Century Fo...
production_countries           [United States of America, United Kingdom]
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages                                       [English, Español]
status                                                           Released
tagline                                       Enter the World of Pandora.
title_x                                                            Avatar
vote_average                                                          7.2
vote_count                                                          11800
genre                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
movie_id                                                            19995
title_y                                                            Avatar
cast                    [Sam Worthington, Zoe Saldana, Sigourney Weave...
crew                    [Stephen E. Rivkin, Rick Carter, Christopher B...
Name: 0, dtype: object